
.header{
    text-align: center;
}

.header nav{
    line-height: 40px;
    background-color: rgb(43, 44, 43);
    font-size: 20px;
    margin-bottom: 12px;

}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;

}
nav a:hover{
    background-color: gray;
}